.hidden{ display:none;}
.gcontainer{margin-bottom:15px; }
.gRow{margin-bottom:10px; }
.gTh{ 	float:left; 	margin:0 3px 3px 0;}
.gTh img{ border:0; }
.topImageItem{ }
a.gImg { float:left; }
.gImgName{ font-weight: bold; background:none repeat scroll 0 0 #214883; border:1px solid #DDDDDD; color:#FFFFFF; height:24px; margin-bottom:2px; overflow:hidden; text-align:center; font-size: 13px; }
.gcontainer li{ float:left;}
.gcontainer ul { list-style-type:none; }
.gcontainer ul, .gcontainer ol { padding:0; }
.deleteIcon{ display:none; margin-left:75px; margin-top:5px; position:absolute;}
.deleteIcon img{ width:16px; height:16px; cursor:pointer; }
.text_field:hover{ border:1px solid red; cursor:move; }
.toggleUploader{ color:#3B8CB2; cursor:pointer; font-weight:bold; padding:2px 0 2px 20px; }
.maxUploaded{ 	display:none; }
.fbguploader { background:none repeat scroll 0 0 #EFF4FA; border:1px solid #5e68c0; display:none; float:left; margin-bottom:30px; padding:10px; width:355px; }
.toggleDown{ background:url("down-icon.png") no-repeat scroll 0 0 transparent; }
.toggleUp{ background:url("up-icon.png") no-repeat scroll 0 0 transparent; }
.toggleSettings{ color:#3B8CB2; cursor:pointer; font-weight:bold; padding:2px 0 2px 20px; width:355px; }

div.formCfg{ background:none repeat scroll 0 0 #EFF4FA; border:1px solid #4C9CC8; display:none; margin:15px 0; padding:10px; }
div.formCfg .row{ margin-bottom:10px; }
div.formCfg label{ font-weight:bold; float:left; width:240px; }
div.formCfg input{ background:none repeat scroll 0 0 #FFFFFF; border:1px solid #4C9CC8; }
div.formCfg select{ background:none repeat scroll 0 0 #FFFFFF; border:1px solid #4C9CC8; }
div.formCfg span.required{ color:red; }

.defaultCfg{ background:url("default-icon.png") no-repeat scroll 0 0 transparent; float:right; height:16px; margin-right:15px; width:16px; cursor:pointer; }
.valSlider{ text-align:right; width:33px; }
.MultiFile-applied{ background:none repeat scroll 0 0 #FFFFFF; border:1px solid #5e68c0; }
.uploaderTitle{	font-weight:bold; }
.maxFiles{ float:left; margin-right:5px; }
.limitFiles{ float:left;}
.fbgrow{     margin-bottom: 3px;}