.rooms-search-select { width: 292px; float: left; position: relative; top: 10px;}
.floor-search-select { width: 272px; float: left; position: relative; top: 10px;}
.square-search-select { width: 272px; float: left; position: relative; top: 10px;}

.price-search-select { width: 190px; float: left; position: relative; top: 10px; }

.vals .left {color: #333; float: left; font-size: 12px;}
.vals .right {color: #333; float: right; font-size: 12px;}

.slider-price-currency {float: right; color: #333; position: relative; top: 3px; right: 18px;}