.similar-ads { /* padding-bottom: 20px; */ }
.jcarousel-skin-tango {text-align: center;}
.similar-descr {color: #000000; text-align: left; line-height: 1.2; font-size: 12px;}
.similar-price {padding-top: 5px; color: #000000; text-align: left; line-height: 1.2; font-size: 12px;}